[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
pymysql = "*"
flask-bcrypt = "*"
js2py = "*"
schedule = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.9"
